%h2 Details About #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

%h3 Description:

%p#description= @movie.description

= link_to 'Edit Info', edit_movie_path

%br

%h3 Reviews:
= link_to 'Add a Review', new_movie_review_path(@movie)

= render :partial => 'reviews/reviews_table'

%p
  = link_to 'All Movies', movies_path
  = button_to 'Delete Movie', movie_path(@movie), :method => :delete, :confirm => "Are you Sure?"
